<div class="about-me">
  <div class="headshot-frame">
    <%= image_tag("headshot.jpg", class: "headshot") %>
  </div>
  <div class="bio">
    <div class="name-header">
      <h1><%= @user.name %></h1>
    </div>

    <div class="tagline">
      <h2><%= @user.tagline %></h2>
    </div>

    <div class="pitch">
      <p><%= simple_format @user.bio %></p>
      <p>I am currently seeking full-time and freelance opportunities!  Contact me via LinkedIn or at tladislas@gmail.com!
    </div>
  </div>
</div>

