<div class="portfolio-works">
  <div class="ride-reviews">
    <a href="https://rentloop.co/" target="_blink" class="portfolio-links">
      <h1>Rentloop</h1>
    </a>
    <p>A user-friendly platform that provides renters a way to make money when they move out.</p>
    <p>Team role: Full-Stack Web Developer</p>
  </div>

   <div class="ride-reviews">
    <a href="https://ride-reviews.herokuapp.com/" target="_blink" class="portfolio-links">
      <h1>Ride Reviews</h1>
    </a>
    <p>Looking for a great motorcycle road for the weekend? Check out Ride Reviews, and let someone who's already ridden the road tell you more about it!</p>
    <p>Role: Solo Full-Stack Web Development.  Built with Ruby on Rails.</p>
  </div>

  <div class="codepen">
    <h1>React Counters Codepen</h1>
    <p data-height="371" data-theme-id="0" data-slug-hash="VQWQwx" data-default-tab="js,result" data-user="majesty86" data-embed-version="2" data-pen-title="React Counters" class="codepen">See the Pen <a href="https://codepen.io/majesty86/pen/VQWQwx/">React Counters</a> by Toby Ladislas (<a href="https://codepen.io/majesty86">@majesty86</a>) on <a href="https://codepen.io">CodePen</a>.</p>
    <script async src="https://static.codepen.io/assets/embed/ei.js"></script>
  </div>

  
</div>