<% @posts.each do |blog_post| %>
  <article>
    <div class="image_container">
        <%= image_tag("#{blog_post.image_url}", class: "article_image") %>
    </div>
    <div class="post">
      <h1 class="title">
        <%= blog_post.title %>
      </h1>
      
      <p><%= truncate(blog_post.body, length: 200) %></p>

      <!-- here, put button for 'read more' and create show page. -->
      <button class="show-post-button"><%= link_to "Read more", "/posts/#{blog_post.id}" %></button>

    </div>
  </article>
<% end %>

