<div class="container">
  
  <div class="top-banner">
    <div class="work-display"></div>
    <div class="headline">
      <h1>Toby Ladislas</h1><br>
      <h2>Full-Stack Web Developer</h2>
    </div>
    <div class="headshot"></div>
  </div>

  <div class="main-content">
    <div class="highlights"></div>
    <div class="posts-container"></div>
  </div>
</div>