.about-me {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.headshot-frame {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 70%;
}

.headshot {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
}

.bio {
  margin-top: 20px;
}

.name-header {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.name-header h1 {
  font-size: 275%;
  padding: 0;
  margin: 15px 0 0 0;
}

.tagline {
  width: 70%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto; 
}

.pitch {
  width: 70%;
  margin-top: 40px;
  margin-bottom: 40px;  
  margin-left: auto;
  margin-right: auto;
}

.portfolio-works {
  display: flex;
  flex-direction: column;
}

.ride-reviews {
  height: 100%;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.ride-reviews iframe {
  width: 100%;
  height: 442px;
}

.codepen {
  height: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
}

.contact-me {
  width: 60%;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.contact-tagline {
  text-align: center;
  margin-top: 40px;
}

.contact-options {
  list-style-type: none;
}

.contact-options li {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 125%;
}

.contact-options a {
  text-decoration: none;
  color: inherit;
}

.contact-options a:hover {
  color: blue;
  cursor: pointer;
}

.js--email {
  display: inline-block;
  width: 100px;
  padding: 0;
  margin: 0;
}

a.tooltips {
  position: relative;
  display: inline;
}
a.tooltips span {
  position: absolute;
  width:140px;
  color: #FFFFFF;
  background: #000000;
  height: 30px;
  line-height: 30px;
  text-align: center;
  visibility: hidden;
  border-radius: 6px;
}
a.tooltips span:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -8px;
  width: 0; height: 0;
  border-top: 8px solid #000000;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
a:hover.tooltips span {
  visibility: visible;
  opacity: 0.8;
  bottom: 30px;
  left: 50%;
  margin-left: -76px;
  z-index: 999;
}

